

/*Estilos Gerais*/

.center{
    text-align: center;
}

div {
    padding: 20px; 
    margin-bottom: 30px;
}

img{
    border-radius: 50%;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*Botoes*/

.botoes { 
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    margin: 2%;
    background-color: rgb(175, 128, 136);
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 10px 0; /* Espaçamento interno */ 
    z-index: 1000
}

.fotobotao  {
    text-decoration: none;     
    cursor: pointer;
    color: rgb(255, 255, 255);
    
    
}
.fotobotao:hover{
    background-color: brown;
    border-radius: 20%;
}


/*Fontes*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(205, 207, 207);
    
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

/*Videos*/

.videosg{ 
    margin-bottom: 20px; 
    text-align: center;
} 

@media screen and (min-width: 700px) { 
    .videosg { 
        display: flex; 
        flex-direction: row; 
    } .videosg iframe { 
        flex: 1; 
    } 
} 

@media screen and (max-width: 699px) { 
    .videog { 
        display: flex; 
        flex-direction: column; 
    } .videosg iframe { 
        width: 100%; 
    } 
}
    
   

.videos{
    flex: auto;
    padding: 10px;
}